<!DOCTYPE html>
<html>
    <head>
        <title>Website</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Website</h1>
        <h2><a href="blackpage">Website</a></h2>
        <div class="longWeb">
            <p>
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
                WebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsiteWebsite
            </p>
        </div>
        <div class="column">
            <p>website <br>
                website <br>
                website <br> 
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
                website <br>
            </p>
        </div>
        

    </body>
</html>
