body {
    background-color: aquamarine;
  }
  
  h1 {
    color: aqua;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    color: aliceblue;
    
    text-align: center;
  }
  h2{
    text-align: center;
  }
  a{

    color: aliceblue;
    
    font-size: 22px;
    text-decoration: none;


  }
  a:hover{
    color: aliceblue;
    text-decoration: none;
  }
  a:visited{
    color: aliceblue;
    text-decoration: none;

  }
div.longWeb {
  font-size: 22px;

}
div.column {
  font-size: 45px;
}