<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6 Sign Up</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Sign Up</h1>
        <div>
            <Form method="post">
            <!-- Create a sign up form here -->
                <label for="FirstName">First Name: </label><br>
                <input type="text" id="FirstName" name="FirstName" value=""  minlength="2" required><br>
                <label for="LastName">Last Name: </label><br>
                <input type="text" id="LastName" name="LastName" value=""minlength="2" required><br>
                <Label for="Email" >Email: </Label><br>
                <input type="email" id="Email" name="Email" value=""required><br>
                <label for="PhoneNumber">Phone Number: </label><br>
                <input type="tel" id="PhoneNumber" name="PhoneNumber" value="" required pattern="[0-9]{10}" placeholder="Enter a 10 digit Number"><br>
                <label for="Password">Password: </label><br>
                <input type="Password" id="Password" name="Password" value="" required ><br><br>
                <input type="submit"> 
            </Form>

        </div>

        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>
